@model IEnumerable<ArenaRMA.Models.User>

<h2>Felhasználók kezelése</h2>

<a href="/UserAdmin/Create">Új felhasználó</a>

<table class="table" border="1" cellpadding="5">
    <tr>
        <th>Név</th>
        <th>Felhasználónév</th>
        <th>Email</th>
        <th>Szerepkör</th>
        <th>Aktív?</th>
        <th>Műveletek</th>
    </tr>

    @foreach (var u in Model)
    {
        <tr>
            <td>@u.FullName</td>
            <td>@u.Username</td>
            <td>@u.Email</td>
            <td>@u.Role.RoleName</td>
            <td>@(u.IsActive ? "Igen" : "Nem")</td>
            <td>
                <a href="/UserAdmin/Edit/@u.UserID">Szerkesztés</a> |
                <a href="/UserAdmin/Delete/@u.UserID"
                   onclick="return confirm('Biztos törlöd?')">Törlés</a>
            </td>
        </tr>
    }
</table>
